{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
    <!-- http://getbootstrap.com/docs/4.1/content/typography/ -->

    <div><h1>Linked With {{ data.link.name }}</h1><br><hr><br></div>

    <div>
        <h2>Upcoming Trips</h2>
        <div>
            {% if data.trips|length == 0 %}
            Looks like you don't have any upcoming trips planned, click <a href="\trips">here</a> to add a trip.
            {% else %}
            <table id="table" class="table table-striped">
            <thead>
                <th>User</th>
                <th>Dates</th>
                <th></th>
                <td>Time till/remaining</td>
            </thead>
            <tbody>
            {% for trip in data.trips %}
            <tr>
                <td>{{ trip.name }}</td>
                <td>
                    {{ trip.startstr }} to {{ trip.endstr }}
                </td>
                <td>
                    <form action="/timer" method="post">
                        <!--<button id='accept{{request.fromid}}' class="btn btn-outline-success btn-sm" name="acceptid" value="{{request.fromid}}" type="submit">Accept</button>-->
                        <button class="btn btn-outline-success btn-sm" name="time" value="
                        {% if trip.ongoing %}
                            {{ trip.enddate }}
                        {% else %}
                            {{ trip.startdate }}
                        {% endif %}
                        " type="submit">
                        {% if trip.ongoing %}
                            Ongoing!
                        {% else %}
                            Coming Up!
                        {% endif %}
                        </button>
                    </form>
                </td>
                <td id="{{ trip.start }}">
                    {{ trip.time.days }}
                </td>
                <td>
                    <form action="/remove" method="POST">
                        <button class="btn btn_outline-danger btn_sm" name="remove">
                            Remove
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
            {% endif %}
        </div>
    </div> <br><br>

    <div>
        <h2>Breaks</h2>
        <table id="table" class="table table-striped half-table">
            <thead>
                <th>Your Breaks</th>
                <th>{{ data.link.name }}'s Breaks</th>
                <th>Overlap</th>
            </thead>
            <tbody>
                {% if data.breaks|length == 0 %}
                    <tr>
                    <td>It looks like you haven't inputted your break schedule yet!
                        Click <a href="\breaks">here</a> to input it.</td>
                    <td>It looks like {{ data.link.name }} has not inputted any breaks yet!</td>
                    </tr>
                {% else %}
                    {% for break in data.breaks %}
                    <tr>
                    <td>
                        {% if break.me %} {{ break.me.start }} to {{ break.me.end }}
                        {% elif loop.index == 1 and breaks|length == 1%} It looks like you haven't inputted your break schedule yet!
                        Click <a href="\breaks">here</a> to input it.
                        {% else %} —
                        {% endif %}
                    </td>
                    <td>
                        {% if break.link %} {{ break.link.start }} to {{ break.link.end }}
                        {# {% elif loop.index == 1 %} It looks like {{ data.link.name }} hasn't inputted any breaks yet! #}
                        {% else %} —
                        {% endif %}
                    </td>
                    {% if break.overlap %}
                        <td>{{ break.overlap.start }} to {{ break.overlap.end }} ({{ break.overlap.duration }} days)</td>
                    {% else %}
                        <td>No overlap 😢</td>
                    {% endif %}
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>


    {% for trip in data.trips %}
    <script>
        {% if trip.ongoing %}
            let countDownDate{{ loop.index }} = new Date({{ trip.enddate.year }}, {{ trip.enddate.month }} - 1, {{ trip.enddate.day }}, {{ tripdate.enddate.hour }}, {{ tripdate.end.minute }}, {{ tripdate.end.second }});//.getTime();
        {% else %}
            let countDownDate{{ loop.index }} = new Date({{ trip.startdate.year }}, {{ trip.startdate.month }} - 1, {{ trip.startdate.day }}, {{ trip.startdate.hour }}, {{ trip.startdate.minute }}, {{ trip.startdate.second }});//.getTime();
        {% endif %}
        console.log(countDownDate{{ loop.index }})
        // Decrement timers
        let {{ trip.name }}{{ loop.index }} = setInterval(function() {
            let distance = countDownDate{{ loop.index }} - new Date().getTime();

            let days = Math.floor(distance / (1000 * 60 * 60 * 24));
            let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            let seconds = Math.floor((distance % (1000 * 60)) / 1000);

            document.getElementById("{{ trip.start }}").innerHTML = days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";
        }, 1000);
    </script>
    {% endfor %}
    <!--<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>-->
    <!--<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>-->
{% endblock %}