{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/change_password" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="cur_password" placeholder="Current password" type="password" required>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="password" placeholder="New password" type="password" required>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="confirmation" placeholder="Confirm new password" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}
